<div class="aside">
	<!-- 网站公告 -->
	<div id="notice">
		<div class="hd">
			<h2>网站公告</h2>
		</div>
		<div class="bd">
			去掉弹窗广告、用户体检差。<br> 希望大家推荐「章鱼哥电影」给喜欢电影的朋友: )<br>
			欢迎加QQ群：534418491 一起讨论交流。 <br>
			<br>
		</div>
	</div>
	<!-- 高分随机看 -->
	<div id="cinemas-section">
		<div class="hd">
			<h2>
				高分电影<a href="javascript:rand_mvs();" class="more">换一换»</a>
			</h2>
		</div>
		<div class="bd">
			<div class="tab-mod on">
				<ul class="cinema-items" id="rand_mvs">
					{% for i, v in ipairs(scoreList) do %}
					<li class="cinema-item">
						<p style="font-size: 13px; margin: 5px 0">
							<a target="_blank" href="/movie/detail?movieId={* v.movie_id *}">[{* v.name *}] 
							[<font color="#00a1d6">{* v.score *}</font>] [{* v.region_names *}] [{* v.year *}] [{* v.type_names *}]
							</a>
						</p>
					</li>
					{% end %}
				</ul>
			</div>
		</div>
	</div>
	<!-- 电视剧 -->
	<div style="margin-top: 20px">
		<div class="hd">
			<h2>
				电视剧更新 <a href="/movie/drama" target="_blank" class="more">更多»</a>
			</h2>
		</div>
		<div class="bd">
			<div class="tab-mod on">
				<ul class="cinema-items">
					{% for i, v in ipairs(dramaList) do %}
					<li class="cinema-item">
						<p style="font-size: 13px; margin: 5px 0">
							<a target="_blank" href="/movie/detail?movieId={* v.movie_id *}">[{* v.name *}] [{* v.region_names *}] [<font color="#00a1d6">第{* v.length *}集</font>]</a> 
							<span style="display: none;"></span>
						</p>
					</li>
					{% end %}
				</ul>
			</div>
		</div>
	</div>
	
	<!--热度排行 begin-->
	<div class="movie_ranking_wrap">
		<!--<h1 class="movie_ranking_time"></h1>-->
		<div class="tab_wrap">
			<h2>
				<span>热度排行</span>
				<ul class="tab_nav">
					<li id="btn_day" onclick="javascript:switch_rank(0)"
						class="hover">今日</li>
					<li id="btn_week" onclick="javascript:switch_rank(1)">本周</li>
					<li id="btn_month" onclick="javascript:switch_rank(2)">本月</li>
				</ul>
			</h2>
			<ul class="tab_view">
				<li id="rank_day">
					<ul class="view_1">


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no no_top">1</div>
								<a href="http://www.miao-z.com/detail/63240" target="_blank">羞羞的铁拳</a>
								<span style="float: right">2979℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no no_top">2</div>
								<a href="http://www.miao-z.com/detail/16608" target="_blank">豺狼计划</a>
								<span style="float: right">2130℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no no_top">3</div>
								<a href="http://www.miao-z.com/detail/13965" target="_blank">敦刻尔克</a>
								<span style="float: right">1716℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">4</div>
								<a href="http://www.miao-z.com/detail/14056" target="_blank">星际特工：千星之城</a>
								<span style="float: right">1672℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">5</div>
								<a href="http://www.miao-z.com/detail/30929" target="_blank">小丑回魂</a>
								<span style="float: right">1532℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">6</div>
								<a href="http://www.miao-z.com/detail/63313" target="_blank">虚拟实惊</a>
								<span style="float: right">1413℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">7</div>
								<a href="http://www.miao-z.com/detail/63187" target="_blank">银魂</a>
								<span style="float: right">1212℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">8</div>
								<a href="http://www.miao-z.com/detail/63021" target="_blank">杀破狼·贪狼</a>
								<span style="float: right">1165℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">9</div>
								<a href="http://www.miao-z.com/detail/16072" target="_blank">战狼2</a>
								<span style="float: right">1104℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">10</div>
								<a href="http://www.miao-z.com/detail/16056" target="_blank">极寒之城</a>
								<span style="float: right">1091℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">11</div>
								<a href="http://www.miao-z.com/detail/63311" target="_blank">我能说</a>
								<span style="float: right">1085℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">12</div>
								<a href="http://www.miao-z.com/detail/63290" target="_blank">报告老师！怪怪怪怪物！</a>
								<span style="float: right">1013℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">13</div>
								<a href="http://www.miao-z.com/detail/17860" target="_blank">美国行动</a>
								<span style="float: right">998℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">14</div>
								<a href="http://www.miao-z.com/detail/10907" target="_blank">言叶之庭</a>
								<span style="float: right">986℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">15</div>
								<a href="http://www.miao-z.com/detail/63324" target="_blank">丛林</a>
								<span style="float: right">903℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">16</div>
								<a href="http://www.miao-z.com/detail/63314" target="_blank">私人会所</a>
								<span style="float: right">831℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">17</div>
								<a href="http://www.miao-z.com/detail/63320" target="_blank">忌日快乐</a>
								<span style="float: right">814℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">18</div>
								<a href="http://www.miao-z.com/detail/63234" target="_blank">猎凶风河谷</a>
								<span style="float: right">717℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">19</div>
								<a href="http://www.miao-z.com/detail/63308" target="_blank">99号牢房内的博弈</a>
								<span style="float: right">596℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">20</div>
								<a href="http://www.miao-z.com/detail/16702" target="_blank">战栗空间</a>
								<span style="float: right">583℃</span>
							</h2>
						</li>


					</ul>
				</li>
				<li id="rank_week" style="display: none;">
					<ul class="view_1">


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no no_top">1</div>
								<a href="http://www.miao-z.com/detail/63240" target="_blank">羞羞的铁拳</a>
								<span style="float: right">24434℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no no_top">2</div>
								<a href="http://www.miao-z.com/detail/63021" target="_blank">杀破狼·贪狼</a>
								<span style="float: right">15027℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no no_top">3</div>
								<a href="http://www.miao-z.com/detail/13965" target="_blank">敦刻尔克</a>
								<span style="float: right">13664℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">4</div>
								<a href="http://www.miao-z.com/detail/16056" target="_blank">极寒之城</a>
								<span style="float: right">11445℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">5</div>
								<a href="http://www.miao-z.com/detail/16608" target="_blank">豺狼计划</a>
								<span style="float: right">10003℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">6</div>
								<a href="http://www.miao-z.com/detail/16072" target="_blank">战狼2</a>
								<span style="float: right">8831℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">7</div>
								<a href="http://www.miao-z.com/detail/63290" target="_blank">报告老师！怪怪怪怪物！</a>
								<span style="float: right">8528℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">8</div>
								<a href="http://www.miao-z.com/detail/17860" target="_blank">美国行动</a>
								<span style="float: right">8106℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">9</div>
								<a href="http://www.miao-z.com/detail/63274" target="_blank">最远的地方</a>
								<span style="float: right">5875℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">10</div>
								<a href="http://www.miao-z.com/detail/63313" target="_blank">虚拟实惊</a>
								<span style="float: right">5704℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">11</div>
								<a href="http://www.miao-z.com/detail/63063" target="_blank">侠盗联盟</a>
								<span style="float: right">5530℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">12</div>
								<a href="http://www.miao-z.com/detail/63311" target="_blank">我能说</a>
								<span style="float: right">5080℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">13</div>
								<a href="http://www.miao-z.com/detail/63234" target="_blank">猎凶风河谷</a>
								<span style="float: right">5015℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">14</div>
								<a href="http://www.miao-z.com/detail/14055" target="_blank">猩球崛起3：终极之战</a>
								<span style="float: right">4898℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">15</div>
								<a href="http://www.miao-z.com/detail/63249" target="_blank">白夜追凶</a>
								<span style="float: right">4591℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">16</div>
								<a href="http://www.miao-z.com/detail/63187" target="_blank">银魂</a>
								<span style="float: right">4486℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">17</div>
								<a href="http://www.miao-z.com/detail/30929" target="_blank">小丑回魂</a>
								<span style="float: right">3992℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">18</div>
								<a href="http://www.miao-z.com/detail/63288" target="_blank">半条命</a>
								<span style="float: right">3616℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">19</div>
								<a href="http://www.miao-z.com/detail/18154" target="_blank">杀人者的记忆法</a>
								<span style="float: right">3438℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">20</div>
								<a href="http://www.miao-z.com/detail/12349" target="_blank">赛车总动员3：极速挑战</a>
								<span style="float: right">3434℃</span>
							</h2>
						</li>


					</ul>
				</li>
				<li id="rank_month" style="display: none;">
					<ul class="view_1">


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no no_top">1</div>
								<a href="http://www.miao-z.com/detail/63240" target="_blank">羞羞的铁拳</a>
								<span style="float: right">65420℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no no_top">2</div>
								<a href="http://www.miao-z.com/detail/14055" target="_blank">猩球崛起3：终极之战</a>
								<span style="float: right">60471℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no no_top">3</div>
								<a href="http://www.miao-z.com/detail/13965" target="_blank">敦刻尔克</a>
								<span style="float: right">55993℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">4</div>
								<a href="http://www.miao-z.com/detail/16072" target="_blank">战狼2</a>
								<span style="float: right">51737℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">5</div>
								<a href="http://www.miao-z.com/detail/63021" target="_blank">杀破狼·贪狼</a>
								<span style="float: right">46318℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">6</div>
								<a href="http://www.miao-z.com/detail/13230" target="_blank">蜘蛛侠：英雄归来</a>
								<span style="float: right">35535℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">7</div>
								<a href="http://www.miao-z.com/detail/63063" target="_blank">侠盗联盟</a>
								<span style="float: right">31096℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">8</div>
								<a href="http://www.miao-z.com/detail/16056" target="_blank">极寒之城</a>
								<span style="float: right">25461℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">9</div>
								<a href="http://www.miao-z.com/detail/63211" target="_blank">出租车司机</a>
								<span style="float: right">17357℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">10</div>
								<a href="http://www.miao-z.com/detail/63123" target="_blank">王牌保镖</a>
								<span style="float: right">16509℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">11</div>
								<a href="http://www.miao-z.com/detail/14053" target="_blank">变形金刚5：最后的骑士</a>
								<span style="float: right">15951℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">12</div>
								<a href="http://www.miao-z.com/detail/63249" target="_blank">白夜追凶</a>
								<span style="float: right">15229℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">13</div>
								<a href="http://www.miao-z.com/detail/17860" target="_blank">美国行动</a>
								<span style="float: right">14973℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">14</div>
								<a href="http://www.miao-z.com/detail/63290" target="_blank">报告老师！怪怪怪怪物！</a>
								<span style="float: right">14790℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">15</div>
								<a href="http://www.miao-z.com/detail/63274" target="_blank">最远的地方</a>
								<span style="float: right">14409℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">16</div>
								<a href="http://www.miao-z.com/detail/63223" target="_blank">十万个冷笑话2</a>
								<span style="float: right">13958℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">17</div>
								<a href="http://www.miao-z.com/detail/16608" target="_blank">豺狼计划</a>
								<span style="float: right">13617℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">18</div>
								<a href="http://www.miao-z.com/detail/58210" target="_blank">大护法</a>
								<span style="float: right">13500℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">19</div>
								<a href="http://www.miao-z.com/detail/13229" target="_blank">加勒比海盗5：死无对证</a>
								<span style="float: right">13405℃</span>
							</h2>
						</li>


						<li>
							<h2 class="movie_ranking_tille">
								<div class="no ">20</div>
								<a href="http://www.miao-z.com/detail/15552" target="_blank">囚室211</a>
								<span style="float: right">12614℃</span>
							</h2>
						</li>


					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>