<div class="aside">
	<!-- 网站公告 -->
	<div id="notice">
		<div class="hd">
			<h2>网站公告</h2>
		</div>
		<div class="bd">
			无弹窗、无广告。<br> 希望大家推荐「章鱼哥电影」给喜欢电影的朋友:)<br>
			欢迎发送邮件至zhyuge1@yandex.com，一起讨论交流。 <br>
			<br>
		</div>
	</div>

	<!-- 红包大礼 -->
	<div id="hongbao">
		<div class="hd">
			<h2>红包大礼</h2>
		</div>
		<div class="bd">
			<img src="/img/hongbao.jpg" style="width: 100%;" />
		</div>
	</div>

	<!-- 高分随机看 -->
	<div id="cinemas-section">
		<div class="hd">
			<h2>
				高分电影<a href="javascript:rand_mvs();" class="more">换一换»</a>
			</h2>
		</div>
		<div class="bd">
			<div class="tab-mod on">
				<ul class="cinema-items" id="rand_mvs">
					{% for i, v in ipairs(scoreList) do %}
					<li class="cinema-item">
						<p style="font-size: 13px; margin: 5px 0">
							<a target="_blank" href="/movie/detail?movieId={* v.movie_id *}">[{* v.name *}] 
							[<font color="#FF0033">{* v.score *}</font>] [{* v.region_names *}] [{* v.year *}] [{* v.type_names *}]
							</a>
						</p>
					</li>
					{% end %}
				</ul>
			</div>
		</div>
	</div>
	<!-- 电视剧 -->
	<div style="margin-top: 20px">
		<div class="hd">
			<h2>
				电视剧更新 <a href="/movie/drama" target="_blank" class="more">更多»</a>
			</h2>
		</div>
		<div class="bd">
			<div class="tab-mod on">
				<ul class="cinema-items">
					{% for i, v in ipairs(dramaList) do %}
					<li class="cinema-item">
						<p style="font-size: 13px; margin: 5px 0">
							<a target="_blank" href="/movie/detail?movieId={* v.movie_id *}">[{* v.name *}] [{* v.region_names *}] [<font color="#FF0033">第{* v.length *}集</font>]</a> 
							<span style="display: none;"></span>
						</p>
					</li>
					{% end %}
				</ul>
			</div>
		</div>
	</div>
	
	<!--热度排行 begin-->
	<div class="movie_ranking_wrap">
		<!--<h1 class="movie_ranking_time"></h1>-->
		<div class="tab_wrap">
			<h2>
				<span>热度排行</span>
				<ul class="tab_nav">
					<li id="btn_day" onclick="javascript:switch_rank(0)" class="hover">今日</li>
					<li id="btn_week" onclick="javascript:switch_rank(1)">本周</li>
					<li id="btn_month" onclick="javascript:switch_rank(2)">本月</li>
				</ul>
			</h2>
			<ul class="tab_view">
				<li id="rank_day">
					<ul class="view_1">

						{% for i, v in ipairs(ranking['dayRank']) do %}
						<li>
							<h2 class="movie_ranking_tille">
								{% if i <=3 then %}
								<div class="no no_top">{* i *}</div>
								{% else %}
								<div class="no">{* i *}</div>
								{% end %}

								<a href="/movie/detail?movieId={* v.movie_id *}" target="_blank">{* v.name *}</a>
								<span style="float: right">{* v.downCount *}℃</span>
							</h2>
						</li>
						{% end %}

					</ul>
				</li>
				<li id="rank_week" style="display: none;">
					<ul class="view_1">

						{% for i, v in ipairs(ranking['weekRank']) do %}
						<li>
							<h2 class="movie_ranking_tille">
								{% if i <=3 then %}
								<div class="no no_top">{* i *}</div>
								{% else %}
								<div class="no">{* i *}</div>
								{% end %}

								<a href="/movie/detail?movieId={* v.movie_id *}" target="_blank">{* v.name *}</a>
								<span style="float: right">{* v.downCount *}℃</span>
							</h2>
						</li>
						{% end %}

					</ul>
				</li>
				<li id="rank_month" style="display: none;">
					<ul class="view_1">

						{% for i, v in ipairs(ranking['monthRank']) do %}
						<li>
							<h2 class="movie_ranking_tille">
								{% if i <=3 then %}
								<div class="no no_top">{* i *}</div>
								{% else %}
								<div class="no">{* i *}</div>
								{% end %}

								<a href="/movie/detail?movieId={* v.movie_id *}" target="_blank">{* v.name *}</a>
								<span style="float: right">{* v.downCount *}℃</span>
							</h2>
						</li>
						{% end %}

					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>