<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-mac ua-webkit">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="renderer" content="webkit">
	<meta name="referrer" content="always">
	<title>{* entity.name *} - 迅雷BT种子网盘下载 - 章鱼哥</title>
	<meta http-equiv="Pragma" content="no-cache">
	<meta name="keywords" content="{* entity.name *},章鱼哥,电影,迅雷,下载,DVD,高清,网盘,种子">
	<meta name="description" content="{* entity.name *}电影介绍以及高清下载信息、用户评论、相关推荐。">
	<link rel="apple-touch-icon" href="/img/favicon.png">
	<link href="/css/main.css" rel="stylesheet" type="text/css">

	<script src="/js/jquery.min.js"></script>
	<script type="text/javascript"></script>
	<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

	<link rel="stylesheet" href="/css/detail.css">
	<script src="http://pstatic.xunlei.com/js/base64.js"></script>

	<script src="/js/share.js"></script>
	<link rel="stylesheet" href="/css/share_style0_16.css">

</head>

<body>
	
	{(header.html)}

	<div id="wrapper">

		<div id="content">
			<h1 style="padding-bottom: 15px;">
				<span property="v:itemreviewed">{* entity.name *}</span> <span class="year">({* entity.year *})</span>
			</h1>
			<div class="grid-16-8 clearfix">
				<div class="article">
					<div class="indent clearfix">
						<div class="subjectwrap clearfix">
							<div class="subject clearfix">
								<div id="mainpic" class="">
									<img src="{* entity.logo_url *}" title="海报" alt="{* entity.name *}" onerror="this.src='/img/img-err.png';" style="width: 146px; height: 210;">
								</div>
								<div id="info">
									<span class="pl">评分:</span> 
									{% if entity.score == nil or entity.score == "" then %}
										<span class="rating_nums">暂无评分</span><br>
									{% else %}
										<span class="allstar{* entity.scoreimg *}"></span>
										<span class="rating_nums">{* entity.score *}</span><br>
									{% end %}

									<span>
										<span class="pl">导演</span>: 
										<span class="attrs">{* entity.director *}</span> 
									</span> <br>

									<span> 
										<span class="pl">编剧</span>: 
										<span class="attrs">{* entity.playwright *}</span>
									</span><br> 

									<span class="actor"> 
										<span class="pl">主演</span>:
										<span class="attrs"> 
											{* entity.actor *}
										</span>
									</span><br> 

									<span class="pl">类型:</span>
									<span property="v:genre">{* entity.type_name *}</span><br> 

									<span class="pl">制片国家/地区:</span> {* entity.region_name *}<br> 

									<span class="pl">语言:</span> {* entity.language *}<br> 

									<span class="pl">上映日期:</span> <span>{* entity.release_date *}</span><br>

									<span class="pl">片长:</span> <span>{* entity.length *}</span><br> 

									<span class="pl">英文名:</span> {* entity.en_name *}<br>

									<div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1509692697381">
										<span class="pl" style="float: left; margin: 5px 5px 0px 0px;">分享到:</span>
										<a href="http://www.miao-z.com/detail/10907#" class="bds_more" data-cmd="more"></a> 
										<a href="http://www.miao-z.com/detail/10907#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a> 
										<a href="http://www.miao-z.com/detail/10907#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a> 
										<a href="http://www.miao-z.com/detail/10907#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a> 
										<a href="http://www.miao-z.com/detail/10907#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a> 
										<a href="http://www.miao-z.com/detail/10907#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
									</div>
									<script>
										window._bd_share_config = {
											"common" : {
												"bdSnsKey" : {},
												"bdText" : "",
												"bdMini" : "2",
												"bdPic" : "http://www.miao-z.com/static/poster/s/10907.jpg",
												"bdStyle" : "0",
												"bdSize" : "16"
											},
											"share" : {}
										};
										with (document)
											0[(getElementsByTagName('head')[0] || body)
													.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
													+ ~(-new Date() / 36e5)];
									</script>
								</div>
							</div>
						</div>
					</div>
					<div class="related-info" style="margin-bottom: -10px;">
						<h2>剧情简介</h2>
						{* entity.introduction *}
					</div>
					<div class="related-info" style="margin-bottom: -10px;">
						<h2>下载地址</h2>
						<div class="indent">
							<p style="text-indent: 2em">数据来源: {* entity.station_name *}</p>
							<table style="width: 100%">
								<tbody>
									{% for i, v in ipairs(urlList) do %}
									<tr>
										<td class="td-d" width="70%" style="word-break: break-all">
											<p style="text-indent: 2em">{* v.url *}</p>
										</td>
										<td class="td-d">
											<p style="text-indent: 2em">
												<script>
													var thunder_url = "{* v.url *}";
													var thunder_pid = "";
													var restitle = "";
													document.write('<a href="'
																	+ ThunderEncode(thunder_url)
																	+ '" class="download-a" title="{* v.url *}"><button class="xunlei-btn">迅雷下载</button></a> ');
												</script>&nbsp;&nbsp;
												<button class="copy-btn" durl="{* v.url *}">复制链接</button>
											</p> 
										</td>
									</tr>
									{% end %}

								</tbody>
							</table>

						</div>
					</div>

					<div id="recommendations" class="">
						<h2>猜你喜欢</h2>
						<div class="recommendations-bd">
							{% for i, v in ipairs(likeList) do %}
							<dl class="">
								<dt>
									<a href="/movie/detail?movieId={* v.movie_id *}"> 
										<img src="{* v.logo_url *}" alt="{* v.name *}" class="" onerror="this.src='/img/img-err.png';" style="width: 115px;">
									</a>
								</dt>
								<dd>
									<a href="/movie/detail?movieId={* v.movie_id *}" class="">{* v.name *}</a>
								</dd>
							</dl>
							{% end %}
						</div>
					</div>
					<br>
				</div>


				<div class="aside" style="position: static/portal; left: 885px; bottom: 300px;">
				</div>


			</div>
		</div>

		{(footer.html)}

	</div>
	
		<!-- 网站统计 -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1271973312'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1271973312%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>

</body>
</html>