<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-mac ua-webkit">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="renderer" content="webkit">
<meta name="referrer" content="always">
<title>电视剧更新列表 - 章鱼哥电影</title>
<meta http-equiv="Pragma" content="no-cache">
<meta name="keywords" content="章鱼哥,喵爪,阳光电影,电影天堂,电影,经典电影,资源,下载,迅雷下载,排行,电影推荐,影视大全">
<meta name="description" content="章鱼哥电影提供最新的电影下载地址以及热门、高分、好玩的电影推荐,无论您喜欢哪种类型,章鱼哥电影都会定期给你推荐哦。">
<link rel="apple-touch-icon" href="/img/favicon.png">
<link href="/css/main.css" rel="stylesheet" type="text/css">

<script src="/js/jquery.min.js"></script>
<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

<link rel="stylesheet" href="/css/list.css">
<script>
	var pageNo = {* args.pageNo *}

	var region = {* args.region *};
	var year = {* args.year *};

	function choose_page(n_pageNo) {
		pageNo = n_pageNo;
		redirect();
	}
	function choose_region(n_region) {
		region = n_region;
		pageNo = 1;
		redirect();
	}
	function choose_year(n_year) {
		year = n_year;
		pageNo = 1;
		redirect();
	}
	function redirect() {
		window.location.href = '/movie/drama?pageNo='+pageNo + '&region='+region + '&year='+year;
	}

	$(document).ready(function() {
		$("#drama").addClass("current");
	});
</script>


	<!-- Google广告 -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-5119662046684335",
	    enable_page_level_ads: true
	  });
	</script>

</head>
<body>
	
	{(header.html)}

	<div id="wrapper">

		<div id="content">
			<div class="grid-16-8 clearfix">
				<div class="article">
					<div class="condition">
						<div class="item_box">
							<span class="tip">地&nbsp;&nbsp;区&nbsp;&nbsp;|</span>
							<a {% if args['region'] == '-1' then %} style="color: #FF0033;" {% end %} href="javascript:choose_region(-1)">全部</a>
							{% for i, v in ipairs(regionList) do %}
							<a {% if tonumber(args['region']) == v['region_id'] then %} style="color: #FF0033;" {% end %} href="javascript:choose_region({* v.region_id *})">{* v.name *}</a>
							{% end %}
						</div>
						<div class="item_box">
							<span class="tip">年&nbsp;&nbsp;份&nbsp;&nbsp;|</span> 
							<a {% if args['year'] == '-1' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(-1)">全部</a>
							<a {% if args['year'] == '2018' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(2018)">2018</a>
							<a {% if args['year'] == '2017' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(2017)">2017</a>
							<a {% if args['year'] == '2016' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(2016)">2016</a>
							<a {% if args['year'] == '2015' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(2015)">2015</a>
							<a {% if args['year'] == '2014' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(2014)">2014</a>
							<a {% if args['year'] == '2013' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(2013)">2013</a>
							<a {% if args['year'] == '2012' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(2012)">2012</a>
							<a {% if args['year'] == '2011' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(2011)">2011</a>
							<a {% if args['year'] == '2010' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(2010)">2010</a>
							<a {% if args['year'] == '2009' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(2009)">2009</a>
							<a {% if args['year'] == '2008' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(2008)">2008</a>
							<a {% if args['year'] == '2007' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(2007)">2007</a>
							<a {% if args['year'] == '2006' then %} style="color: #FF0033;" {% end %} href="javascript:choose_year(2006)">2006</a>
						</div>
					</div>

					<div class="">
					{% if table.getn(list) > 0 then %}
						{% for i, v in ipairs(list) do %}
						<div class="ul"></div>
						<table width="100%" class="" style="border-collapse: separate; border-spacing: 0 10px;">
							<tbody>
								<tr class="item">
									<td width="100" valign="top">
										<a class="nbg" href="/movie/detail?movieId={* v.movie_id *}" title="{* v.name *}" target="_blank">
											<img src="{* v.logo_url *}" alt="{* v.name *}" class="" onerror="this.src='/img/img-err.png';" style="width: 90px; height: 130px">
										</a>
									</td>
									<td valign="top">
										<div class="pl2" style="margin-left: 10px;">
											<a href="/movie/detail?movieId={* v.movie_id *}" target="_blank" class=""> 
												<span style="font-size: 13px;"> {* v.name *} / {* v.en_name *} </span>
											</a> 
											<span class="flag">[第{* v.length *}集]</span>
											<span class="flag">[可下载]</span>
											<p class="pl">
												◎上映时间: {* v.release_date *} ◎类型: {* v.type_names *} ◎国家: {* v.region_names *} <br>
												◎导演: {* v.director *} ◎主演: {* v.actor *}
											</p>
											<div class="star clearfix">
												{% if v.score == nil or v.score == "" then %}
													<span class="rating_nums">暂无评分</span>
												{% else %}
													<span class="allstar{* v.scoreimg *}"></span>
													<span class="rating_nums">{* v.score *}</span>
												{% end %}
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						{% end %}
					{% else %}
						<center>
						<br><br><br>
						<img src="/img/no.png" style="width: 100px;"> <br>
						<span style="list-style-type:none; list-style-image:none; list-style-position:outside; font-size:14px; line-height: 32px;">没有找到相关资源, 请修改筛选条件‘(*>﹏<*)′</span>
						</center>
					{% end %}
					</div>

					<div class="paginator">
					{% if page then %}
						{% if page['prev'] then %}
							<span class="prev"> 
								<a href="javascript:choose_page({* page['prev'] *})"> &lt;上一页 </a>
							</span>
						{% end %}

						{% for i, v in ipairs(page['pageList']) do %}
							{% if v == tonumber(page['current']) then %}
							<span class="thispage">{* v *}</span> &nbsp; 
							{% else %}
							<a href="javascript:choose_page({* v *})">{* v *}</a>&nbsp; &nbsp; 
							{% end %}
						{% end %}
						
						{% if page['next'] then %}
							<span class="next"> 
								<a href="javascript:choose_page({* page['next'] *})">下一页&gt;</a>
							</span>
						{% end %}
						
					{% end %}
					</div>
				</div>

				<div class="aside"></div>

			</div>
		</div>

		{(footer.html)}

	</div>

<!-- 网站统计 -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1271973312'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1271973312%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>

</body>
</html>