<div id="db-nav-movie" class="nav">
	<div class="nav-wrap" style="padding-top: 10px;">
		<div class="nav-primary">
			<div class="nav-logo">
				<a href="/"><img src="/img/logo.png" style="width: 180px; height: 61px; margin-top: 2px;"></a>
			</div>
			<div class="nav-search">
				<form action="/movie/search" method="get">
					<fieldset>
						<input id="inp-query" name="keyword" size="22" maxlength="60" value="{% if args and args['keyword'] and args['keyword'] ~= '' then %}{* args.keyword *}{% end %}" placeholder="电影、电视剧、演员、导演" autocomplete="off">
						<button class="search-btn" type="submit" value="搜索"></button>
					</fieldset>
				</form>
				<div class="star-search-tag">
					<span class="hot-words" id="hws">
					
						{% for i, v in ipairs(searchList) do %}
						<a class="hw" href="/movie/search?keyword={* v.name *}">{* v.name *}</a>
				      	{% end %}

					</span>
				</div>
			
			</div>
		</div>
	</div>
	<div class="nav-sub-items">
		<div class="nav-secondary">
			<div class="nav-items nav-anon">
				<ul>
					<li>
						<div id="index">
							<a href="/">首页</a>
						</div>
					</li>
					<li>
						<div id="repertory">
							<a href="/movie/repertory">片库</a>
						</div>
					</li>
					<li>
						<div id="drama">
							<a href="/movie/drama">电视剧</a>
						</div>
					</li>
					<li>
						<div id="ranking">
							<a href="/movie/ranking">排行榜</a>
						</div>
					</li>
					<li>
						<div id="picture">
							<a href="/picture/repertory">美女图片</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>