<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-mac ua-webkit">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="renderer" content="webkit">
<meta name="referrer" content="always">
<title>章鱼哥电影</title>
<meta http-equiv="Pragma" content="no-cache">
<meta name="keywords" content="章鱼哥,喵爪,阳光电影,电影天堂,电影,经典电影,资源,下载,迅雷下载,排行,电影推荐,影视大全">
<meta name="description" content="章鱼哥电影提供最新的电影下载地址以及热门、高分、好玩的电影推荐,无论您喜欢哪种类型,章鱼哥电影都会定期给你推荐哦。">
<link rel="apple-touch-icon" href="/img/favicon.png">
<link href="/css/main.css" rel="stylesheet" type="text/css">

<script src="/js/jquery.min.js"></script>
<script type="text/javascript"></script>
<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

<link rel="stylesheet" href="/css/index.css">
<script src="/js/jquery.tmpl.min.js"></script>

<script id="mv_1" type="text/x-jquery-tmpl">
	<li id="${movie_id}" class="list-item">
		<ul class="">
			<li class="poster">
				<a href="/movie/detail?movieId=${movie_id}" class="ticket-btn" target="_blank">
					<img src="${logo_url}" alt="${name}" rel="nofollow" onerror="this.src='/img/img-err.png';">
				</a>
				<span class="right-cornor-tag">${release_date}</span>
			</li>
			<li class="stitle">
				<a href="/movie/detail?movieId=${movie_id}" class="ticket-btn" target="_blank">${name}</a>
			</li>
			<li class="srating">
				<span class="text-tip">暂无评分</span>
			</li>
		</ul>
	</li>
</script>

<script id="mv_2" type="text/x-jquery-tmpl">
	<li id="${movie_id}" class="list-item">
		<ul class="">
			<li class="poster">
				<a href="/movie/detail?movieId=${movie_id}" class="ticket-btn" target="_blank">
					<img src="${logo_url}" alt="${title}" rel="nofollow" onerror="this.src='/img/img-err.png';">
				</a>
				<span class="right-cornor-tag">${release_date}</span>
			</li>
			<li class="stitle">
				<a href="/movie/detail?movieId=${movie_id}" class="ticket-btn" target="_blank">${name}</a>
			</li>
			<li class="srating">
				<span class="rating-star allstar${scoreimg}"></span>&nbsp;
				<span class="subject-rate">${score}</span>
			</li>
		</ul>
	</li>
</script>
<!-- 高分电影模板 -->
<script id="rand_items" type="text/x-jquery-tmpl">
	<li class="cinema-item">
		<p style="font-size:13px; margin:5px 0">
			<a href="/movie/detail?movieId=${movie_id}" target="_blank">
			${name} [<font color="#FF0033">${score}</font>] [${region_names}] [${year}] [${type_names}]
			</a>
		</p>
	</li>
</script>

<script>
// 加载更多
var pn = 1;
function load_data(){
	$.get("/movie/list?pageNo="+pn, function(result, status){
		$("#more_btn").html("加载中...");
		var data = result.data;
		for (i = 0; i < data.length; i++) {
			if (data[i].score == null){
				$("#mv_1").tmpl(data[i]).appendTo('#latest');
			} else {
				$("#mv_2").tmpl(data[i]).appendTo('#latest');
			}
		}
		if (data.length < 20 || pn > 10) {
			$("#more_btn").hide();
		} else {
			$("#more_btn").html("加载更多");
		}
	}, 'json');
	pn += 1;
}

// 高分电影（随机）
function rand_mvs(){
	$.get("/movie/highmarks", function(result, status){
		var data = result.data;
		$('#rand_mvs').empty();
		for (i = 0; i < data.length; i++) {
			$("#rand_items").tmpl(data[i]).appendTo('#rand_mvs');
		}
	}, 'json');
}

// 设置本页标签选中
$(document).ready(function(){
	$("#index").addClass("current");
	load_data();
});

// 设置排行榜切换
function switch_rank(target) {
	$("#rank_day").hide();
	$("#rank_week").hide();
	$("#rank_month").hide();
	$("#btn_day").removeClass();
	$("#btn_week").removeClass();
	$("#btn_month").removeClass();
	if (target == 0) {
		$("#rank_day").show();
		$("#btn_day").addClass("hover");
	} else if (target == 1) {
		$("#rank_week").show();
		$("#btn_week").addClass("hover");
	} else {
		$("#rank_month").show();
		$("#btn_month").addClass("hover");
	}
}
</script>

<!-- 网站统计 -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1271973312'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1271973312%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>

</head>
<body>
	
	{(header.html)}

	<div id="wrapper">

		<div id="content">
			<div class="grid-16-8 clearfix">
				<div class="article">
					<div id="nowplaying">
						<div class="mod-hd">
							<script type="text/javascript" src=""></script>
						</div>
						<div class="mod-hd">
							<h2>近期热门</h2>
						</div>
						<div class="mod-bd">
							<ul class="lists">

								{% for i, v in ipairs(hotList) do %}
								<li id="{* v.movie_id *}" class="list-item">
									<ul>
										<li class="poster">
											<a href="/movie/detail?movieId={* v.movie_id *}" class="ticket-btn" target="_blank"> 
												<img src="{* v.logo_url *}" alt="{* v.name *}" rel="nofollow" onerror="this.src='/img/img-err.png';">
											</a>
										</li>
										<li class="stitle">
											<a href="/movie/detail?movieId={* v.movie_id *}" class="ticket-btn" target="_blank">{* v.name *}</a>
										</li>
										<li class="srating">

											{% if v.score == nil or v.score == "" then %}
												<span class="subject-rate">暂无评分</span>
											{% else %}
												<span class="rating-star allstar{* v.scoreimg *}"></span>&nbsp;
												<span class="subject-rate">{* v.score *}</span>
											{% end %}

										</li>
									</ul>
								</li>
						      	{% end %}

							</ul>
						</div>
						<div class="mod-hd">
							<h2>最新更新</h2>
						</div>
						<div class="mod-bd">
							<ul class="lists" id="latest">

							</ul>
							<a id="more_btn" href="javascript:load_data();">加载更多</a>
						</div>
					</div>
				</div>
				
				{(aside.html)}

			</div>
		</div>

		{(footer.html)}

	</div>
	

</body>
</html>