<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-mac ua-webkit">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="renderer" content="webkit">
<meta name="referrer" content="always">
<title>章鱼哥电影片库</title>
<meta http-equiv="Pragma" content="no-cache">
<meta name="keywords" content="章鱼哥,喵爪,阳光电影,电影天堂,电影,经典电影,资源,下载,迅雷下载,排行,电影推荐,影视大全">
<meta name="description" content="章鱼哥电影提供最新的电影下载地址以及热门、高分、好玩的电影推荐,无论您喜欢哪种类型,章鱼哥电影都会定期给你推荐哦。">
<link rel="apple-touch-icon" href="/img/favicon.png">
<link href="/css/main.css" rel="stylesheet" type="text/css">

<script src="/js/jquery.min.js"></script>
<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

<link rel="stylesheet" href="/css/list.css">
<script>
	var tp = '0';
	var tag = '';
	var area = '';
	var py = '';
	var sr = '1';
	var sort = '1';
	function choose_tp(n_tp) {
		tp = n_tp;
		redirect();
	}
	function choose_tag(n_tag) {
		tag = n_tag;
		redirect();
	}
	function choose_area(n_area) {
		area = n_area;
		redirect();
	}
	function choose_py(n_py) {
		py = n_py;
		redirect();
	}
	function choose_sr(n_sr) {
		sr = n_sr;
		redirect();
	}
	function choose_sort(n_sort) {
		sort = n_sort;
		redirect();
	}
	function redirect() {
		window.location.href = '/list/' + tp + '-' + tag + '-' + area + '-'
				+ py + '-' + sr + '-' + sort + '.html';
	}
	$(document).ready(function() {
		$("#list").addClass("current");
	});
</script>

</head>
<body>
	
	{(header.html)}

	<div id="wrapper">

		<div id="content">
			<div class="grid-16-8 clearfix">
				<div class="article">
					<div class="condition">
						<div class="item_box">
							<span class="tip">分&nbsp;&nbsp;类&nbsp;&nbsp;|</span> 
							<a style="color: #00a1d6;" href="javascript:choose_tp(&#39;0&#39;)">电影</a>
							<a href="javascript:choose_tp(&#39;1&#39;)">电视剧</a>
						</div>
						<div class="item_box">
							<span class="tip">类&nbsp;&nbsp;型&nbsp;&nbsp;|</span> 
							<a style="color: #00a1d6;" href="javascript:choose_tag(&#39;&#39;)">全部</a>
							<a href="javascript:choose_tag(&#39;1&#39;)">爱情</a> 
							<a href="javascript:choose_tag(&#39;2&#39;)">喜剧</a> 
							<a href="javascript:choose_tag(&#39;3&#39;)">动画</a> 
							<a href="javascript:choose_tag(&#39;4&#39;)">剧情</a> 
							<a href="javascript:choose_tag(&#39;5&#39;)">科幻</a>
						</div>
						<div class="item_box">
							<span class="tip">地&nbsp;&nbsp;区&nbsp;&nbsp;|</span>
							<a style="color: #00a1d6;" href="javascript:choose_area(&#39;&#39;)">全部</a>
							<a href="javascript:choose_area(&#39;1&#39;)">中国</a>
							<a href="javascript:choose_area(&#39;2&#39;)">美国</a>
							<a href="javascript:choose_area(&#39;3&#39;)">英国</a>
						</div>
						<div class="item_box">
							<span class="tip">年&nbsp;&nbsp;份&nbsp;&nbsp;|</span> 
							<a style="color: #00a1d6;" href="javascript:choose_py(&#39;&#39;)">全部</a>
							<a href="javascript:choose_py(&#39;2016&#39;)">2016</a> 
							<a href="javascript:choose_py(&#39;2015&#39;)">2015</a> 
							<a href="javascript:choose_py(&#39;2014&#39;)">2014</a>
						</div>
						<div class="item_box">
							<span class="tip">排&nbsp;&nbsp;序&nbsp;&nbsp;|</span>
							<a style="color: #00a1d6;" href="javascript:choose_py(&#39;2016&#39;)">最新</a> 
							<a href="javascript:choose_py(&#39;2015&#39;)">评分</a>
						</div>
					</div>

					<div class="">
						{% for i, v in ipairs(list) do %}
						<div class="ul"></div>
						<table width="100%" class="" style="border-collapse: separate; border-spacing: 0 10px;">
							<tbody>
								<tr class="item">
									<td width="100" valign="top">
										<a class="nbg" href="/movie/detail?movieId={* v.movie_id *}" title="{* v.name *}" target="_blank">
											<img src="{* v.logo_url *}" alt="{* v.name *}" class="" style="width: 90px; height: 130px">
										</a>
									</td>
									<td valign="top">
										<div class="pl2" style="margin-left: 10px;">
											<a href="/movie/detail?movieId={* v.movie_id *}" target="_blank" class=""> 
												<span style="font-size: 13px;"> {* v.name *} / {* v.en_name *} </span>
											</a> 
											<span class="flag">[可下载]</span>
											<p class="pl">
												◎上映时间: {* v.release_date *} ◎类型: {* v.type_names *} ◎国家: {* v.region_names *} <br>
												◎导演: {* v.director *} ◎主演: {* v.actor *}
											</p>
											<div class="star clearfix">
												{% if v.score == nil or v.score == "" then %}
													<span class="rating_nums">暂无评分</span>
												{% else %}
													<span class="allstar35"></span>
													<span class="rating_nums">{* v.score *}</span>
												{% end %}
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						{% end %}
					</div>

					<div class="paginator">
					{% if page then %}
						{% if page['prev'] then %}
							<span class="prev"> 
								<a href="/movie/repertory?&amp;pageNo={* page['prev'] *}"> &lt;上一页 </a>
							</span>
						{% end %}

						{% for i, v in ipairs(page['pageList']) do %}
							{% if v == tonumber(page['current']) then %}
							<span class="thispage">{* v *}</span> &nbsp; 
							{% else %}
							<a href="/movie/repertory?&amp;pageNo={* v *}">{* v *}</a>&nbsp; &nbsp; 
							{% end %}
						{% end %}
						
						{% if page['next'] then %}
							<span class="next"> 
								<a href="/movie/repertory?&amp;pageNo={* page['next'] *}">下一页&gt;</a>
							</span>
						{% end %}
						
					{% end %}
					</div>
				</div>

				<div class="aside"></div>

			</div>
		</div>

		{(footer.html)}

	</div>

</body>
</html>