<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-mac ua-webkit">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="renderer" content="webkit">
<meta name="referrer" content="always">
<title>章鱼哥美女</title>
<meta http-equiv="Pragma" content="no-cache">
<meta name="keywords" content="章鱼哥,章鱼哥美女,尤果网,依依社区,美女网,清纯图片,MM私房照,美女图片,性感美女,制服诱惑,唯美图片,火辣,美女,网友自拍">
<meta name="description" content="章鱼哥图片提供最新的美女图片浏览,无论您喜欢哪种类型,章鱼哥都会定期给你推荐哦。">
<link rel="apple-touch-icon" href="/img/favicon.png">
<link href="/css/main.css" rel="stylesheet" type="text/css">

<script src="/js/jquery.min.js"></script>
<script type="text/javascript"></script>
<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/list.css">
<script src="/js/jquery.tmpl.min.js"></script>

 {-raw-}
<script id="mv_1" type="text/x-jquery-tmpl">
	<li id="${picture_id}" class="list-item">
		<ul class="">
			<li class="poster">
				<a href="/picture/detail?pictureId=${picture_id}" class="ticket-btn" target="_blank">
					{{if proxy == 'true'}}
						<img src="/proxy/picture?imgUrl=${logo_url}" alt="${name}" rel="nofollow" onerror="this.src='/img/img-err.png';">
			        {{else}}
						<img src="${logo_url}" alt="${name}" rel="nofollow" onerror="this.src='/img/img-err.png';">
			        {{/if}}

				</a>
				<span class="right-cornor-tag">${create_time}</span>
			</li>
			<li class="stitle">
				<a href="/picture/detail?pictureId=${picture_id}" class="ticket-btn" target="_blank">${name}</a>
			</li>
		</ul>
	</li>
</script>
{-raw-}

<!-- 猜你喜欢模板 -->
<script id="rand_items" type="text/x-jquery-tmpl">
	<li class="cinema-item">
		<p style="font-size:13px; margin:5px 0">
			<a href="/picture/detail?pictureId=${picture_id}" target="_blank">
			${name}
			</a>
		</p>
	</li>
</script>

<script>
// 加载更多
var pn = 1;
var type = {* args.type *};

function load_data(){
	$.get("/picture/list?pageNo="+pn +'&type=' + type, function(result, status){
		$("#more_btn").html("加载中...");
		var data = result.data;
		for (i = 0; i < data.length; i++) {
			var proxy = data[i].logo_url.indexOf('meizitu.net')
			if (proxy && proxy >= 0) {
				data[i].proxy = true;
			} else {
				data[i].proxy = false;
			}

			$("#mv_1").tmpl(data[i]).appendTo('#latest');
		}
		if (data.length < 20 || pn > 500) {
			$("#more_btn").hide();
		} else {
			$("#more_btn").html("加载更多");
		}
	}, 'json');
	pn += 1;
}

function choose_type(n_type) {
	type = n_type;
	redirect();
}

function redirect() {
	window.location.href = '/picture/repertory?pageNo=1&type='+type;
}

// 设置本页标签选中
$(document).ready(function(){
	$("#picture").addClass("current");
	load_data();
});

// 猜你喜欢（随机）
function rand_pics(){
	$.get("/picture/like", function(result, status){
		var data = result.data;
		$('#rand_pics').empty();
		for (i = 0; i < data.length; i++) {
			$("#rand_items").tmpl(data[i]).appendTo('#rand_pics');
		}
	}, 'json');
}

</script>

	<!-- Google广告 -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-5119662046684335",
	    enable_page_level_ads: true
	  });
	</script>


</head>
<body>
	
	{(header.html)}

	<div id="wrapper">

		<div id="content">
			<div class="grid-16-8 clearfix">
				<div class="article">
					<div class="condition">
						<div class="item_box">
							<span class="tip">类&nbsp;&nbsp;型&nbsp;&nbsp;|</span> 
							<a {% if args['type'] == '-1' then %} style="color: #FF0033;" {% end %} href="javascript:choose_type(-1)">全部</a>
							{% for i, v in ipairs(typeList) do %}
							<a {% if tonumber(args['type']) == v['type_id'] then %} style="color: #FF0033;" {% end %} href="javascript:choose_type({* v.type_id *})">{* v.name *}</a>
							{% end %}
						</div>
					</div>

					<div id="nowplaying">
						<div class="mod-bd">
							<ul class="lists" id="latest">

							</ul>
							<a id="more_btn" href="javascript:load_data();">加载更多</a>
						</div>
					</div>
				</div>

				{(picture-aside.html)}

			</div>
		</div>

		{(footer.html)}

	</div>
	
<!-- 网站统计 -->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1271973312'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1271973312%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>

</body>
</html>